@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&family=Michroma&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sevillana&display=swap");
.title {
  margin-top: 100px;
  font-size: 4rem;
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.atomic {
  margin: 50px 100px;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}
.image-container {
  text-align: center;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}
.book-description {
  flex: 1;
}

/*Responsive styles*/
@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .book-description {
    margin-top: 20px;
  }
}
